PORT_MYSQL=24665
PORT_SERVER=24666
PORT_API=24667
PORT_NGNIX=5000

MYSQL_ROOT_PASSWORD=dont_forget_change
MYSQL_DATABASE=dloc
MYSQL_USER=dloc
MYSQL_PASSWORD=set_complex_password
MYSQL_PORT=${PORT_MYSQL}
TZ=Europe/Madrid